h1 {
    color: blueviolet;
    font-size: 50px;
}
h2{
    color: green;
    font-size: 30px;

}

/* body, html {
    height: 100%;
  }
  .sidebar {
    height: 100vh; 
  }
  .container-fluid {
    height: 100%; 
  } */
