{% extends 'Dashboard/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Créer un Produit</h1>
    <form action="{% url 'produit:create_produit' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="nom" class="form-label">Nom du produit</label>
            <input type="text" id="nom" name="nom" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="prix" class="form-label">Prix du produit (f cfa)</label>
            <input type="text" id="prix" name="prix" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description du produit</label>
            <textarea name="description" id="description" class="form-control" rows="5" required></textarea>
        </div>

        <div class="mb-3">
            <label for="quantite" class="form-label">Quantité en stock</label>
            <input type="number" id="quantite" name="quantite" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Image du produit</label>
            <input type="file" name="image" id="image" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-success w-100">Créer le produit</button>
    </form>
</div>
{% endblock %}
