
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    <nav>
        <li> <a href="{% url 'produit:index' %}">Accueil</a></li>
        <li><a href="{% url 'produit:create_produit' %}">Creer un produit</a></li>
       
 
    </nav>
    <h2>codeuse django</h2>
    <h1>{{nom}}</h1>

    <!-- #interface pour afficher a l'utilisateur -->
     <ul>
        {% for produit in liste_produit %}
        <li> 
            {% if produit.prix == 0 %}
                <strong style="color: red;">{{produit.nom|upper}} - {{produit.prix|add:'100'}}</strong>
            {% else %}
                <strong style="color: green;">{{produit.nom|upper}} - {{produit.prix}}</strong>
            {% endif %}
        </li>
        {% endfor %}
     </ul>
    
</body>
</html>