<footer class="bg-dark text-white pt-4 ">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>A propos de nous</h5>
          <p>Nous sommes votre boutique en ligne pour les meilleurs fruits et légumes, frais et de saison. Commandez facilement et faites livrer directement chez vous!</p>
        </div>
        <div class="col-md-4">
          <h5>Liens utiles</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Accueil</a></li>
            <li><a href="#" class="text-white">Boutique</a></li>
            <li><a href="#" class="text-white">À propos</a></li>
            <li><a href="#" class="text-white">Contact</a></li>
            <li><a href="#" class="text-white">Politique de retour</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contactez-nous</h5>
          <p>Email: <a href="mailto:contact@votresite.com" class="text-white">contact@votresite.com</a></p>
          <p>Téléphone: +33 1 23 45 67 89</p>
        </div>
      </div>
      <div class="text-center pt-3">
        <p>&copy; 2023 Votre Entreprise de Fruits et Légumes En Ligne. Tous droits réservés.</p>
      </div>
    </div>
  </footer>